trigger:
  branches:
    include:
      - main
  paths:
    exclude:
      - README.md
      - azure-pipelines.yml
      - '.gitignore'
      - '*.png'

pool:
  vmImage: 'ubuntu-latest'

variables:
  # UPDATE these two values to match your setup
  serviceConnection: 'Azure-Lab-Connection' 
  resourceGroupName: 'rg-governance-lab'
  location: 'eastus' # Or your preferred region

stages:
- stage: Validate
  displayName: 'Governance Check'
  jobs:
  - job: PolicyValidation
    displayName: 'Validate Bicep against Azure Policy'
    steps:
    - task: AzureCLI@2
      displayName: 'Run What-If Validation'
      inputs:
        azureSubscription: $(serviceConnection)
        scriptType: 'bash'
        scriptLocation: 'inlineScript'
        inlineScript: |
          echo "Starting Pre-flight validation for $(resourceGroupName)..."
          
          # The 'what-if' command triggers the Azure Policy evaluation engine
          az deployment group what-if \
            --resource-group $(resourceGroupName) \
            --template-file ./keyvault.bicep \
            --parameters location=$(location) \
            --result-format FullResourcePayloads

- stage: Deployment
  displayName: 'Starting Key Vault Deployment'
  dependsOn: Validate
  condition: succeeded()
  jobs:
    - job: DeployResource
      displayName: 'Deploying resource now'
      steps:
      - task: AzureResourceManagerTemplateDeployment@3
        inputs:
          deploymentScope: 'Resource Group'
          azureResourceManagerConnection: 'Azure-Lab-Connection'
          subscriptionId: 'f2f1d6df-9422-48cb-abf1-0a4eb095ad4a'
          action: 'Create Or Update Resource Group'
          resourceGroupName: 'rg-governance-lab'
          location: 'UK West'
          templateLocation: 'Linked artifact'
          csmFile: './keyvault.bicep'
          deploymentMode: 'Incremental'

